<!-- extend from base layout -->
{% extends "base.html" %}

{% block title %}
<h1>Streamming <small>Beta</small></h1>
{% endblock %}

{% block content %}
<form class="form-horizontal"  action="" method="post" name="streaming" role="form">
    {{form.hidden_tag()}}
	<div class="container">
	<div class="row center">
	<div class="form-group">
	 {% if form.errors %}
         <div class="alert alert-danger alert-dismissable">
  		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  		<strong class="no-break">Warning!</strong> Please fill in all the input values.
	</div>
	<br>
	{% endif %}
        {{form.url(class="form-control",placeholder="Enter URL",style="width:100%")}}
	<br>
     <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-save"></span>Stream</button>
    </div>
    </div>
    </div>
</form>
{% endblock %}
